<section id="one" class="wrapper style1 special">
  <div class="inner">
    {% assign sorted_galleries = include.galleries | sort: "order" %}
    {% for gallery in sorted_galleries %}
      <header class="major">
        <h2>{{ gallery.title }}</h2>
        <div id="{{ gallery.gallery_id }}"
          data-nanogallery2='{
          "thumbnailHoverEffect2": "label_font-size_1em_1.5em|title_backgroundColor_rgba(255,255,255,0.34)_rgba(((35,203,153,0.8)|title_color_#000_#fff|image_scale_1.00_1.10_5000|image_rotateZ_0deg_4deg_5000",
          "touchAnimation": false,
          "thumbnailWidth": 150,
          "thumbnailHeight": 150,
          "thumbnailLabel": {"display": false},
          "viewerToolbar": {"display": false},
          "viewerTools": {"topLeft": "", "topRight": "fullscreenButton, closeButton"},
          "itemsBaseURL": "{{ gallery.items_base_url }}"
          }'>
          {% for image in gallery.images %}
            <a href="{{ image.full }}" data-ngThumb="{{ image.thumb }}"></a>
          {% endfor %}
        </div>
      </header>
    {% endfor %}
  </div>
</section>
